$primary-color: #010440
$secondary-color: #B0BEC5
$white: #fff
$black: #000
$font-family: "leagueSpartan", sans-serif

@font-face
  font-family: "leagueSpartan"
  src: url("@/assets/fonts/leagueSpartan/LeagueSpartan-VariableFont_wght.ttf") format("opentype")
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: "laro"
  src: url("@/assets/fonts/laro/Laro Soft Medium.otf") format("opentype")
  font-weight: normal
  font-style: normal
  font-display: swap

$font-leagueSpartan: "leagueSpartan", sans-serif
$font-laro: "laro", sans-serif